$icomoon-font-family: "hekto" !default;
$icomoon-font-path: "fonts" !default;

$icon-up-arrow-2: "\e917";
$icon-up-arrow-1: "\e918";
$icon-down-angle: "\e915";
$icon-Group6: "\e907";
$icon-Vector: "\e900";
$icon-facebook: "\e901";
$icon-check: "\e902";
$icon-exit: "\e903";
$icon-grid-view-solid: "\e904";
$icon-Group: "\e905";
$icon-heart: "\e906";
$icon-instagram: "\e908";
$icon-message: "\e909";
$icon-phone: "\e90a";
$icon-salebox: "\e90b";
$icon-search-plus: "\e90c";
$icon-shop: "\e90d";
$icon-shop-regular: "\e90e";
$icon-solid_list: "\e90f";
$icon-star: "\e910";
$icon-starg: "\e911";
$icon-surf: "\e912";
$icon-surf_calendar: "\e913";
$icon-twitter: "\e914";
$icon-user: "\e916";

